<% content_for(:title, 'Resources')%>
<div class="post">
	<h1>Resources</h1>
	<p>This website was created on <a href="https://rubyonrails.org/">Ruby on Rails</a> by following the <a href="https://www.eduonix.com/dashboard/Learn-Ruby-on-Rails-for-Beginners-from-Scratch" target="_blank">Learn Ruby on Rails for Beginners from Scratch</a> course on <a href="https://www.eduonix.com/">Eduonix</a></p>
	<p><a href="https://rubyonrails.org/" target="_blank">
		<img src="rails-logo.svg" alt="https://rubyonrails.org/" style="width: 140px; height: 63px;">
	</a></p>
	<p><a href="https://www.eduonix.com/" target="_blank">
		<img src="eduonix.png" alt="https://www.eduonix.com/" style="width: 140px; height: 63px;">
	</a></p>
</div>
